
$body_background: #bccad7;
$body_background: #304662;
$text_color: rgb(150,150,150);
$text_muted: rgb(110,110,110);
$text_size: 14px;
$primary: red;
$secondary: green;
$border_color: rgba(255,255,255,0.1);
$container_width: 460px;
$container_background: #f1f5f8;
